<!DOCTYPE html>
<html lang="ko">
<!--begin::Head-->
<head>
  <base href=""/>
  <title>{{title}}</title>
  <meta charset="utf-8"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta property="og:locale" content="ko_KR"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta name="csrf-token" content="{{_csrfToken}}"/>
  <link rel="canonical" href=""/>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <!--begin::Fonts(mandatory for all pages)-->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"
  />
  <!--end::Fonts-->
  <!--begin::Vendor Stylesheets(used for this page only)-->
  <link
    href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="assets/plugins/custom/datatables/datatables.bundle.css"
    rel="stylesheet"
    type="text/css"
  />
  <!--end::Vendor Stylesheets-->
  <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
  <link
    href="assets/plugins/global/plugins.bundle.css"
    rel="stylesheet"
    type="text/css"
  />
  <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
  <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body
  id="kt_app_body"
  data-kt-app-page-loading-enabled="true"
  data-kt-app-page-loading="on"
  data-kt-app-header-fixed="true"
  data-kt-app-header-fixed-mobile="true"
  data-kt-app-sidebar-enabled="true"
  data-kt-app-sidebar-fixed="true"
  data-kt-app-sidebar-push-toolbar="true"
  data-kt-app-sidebar-push-footer="true"
  data-kt-app-sidebar-stacked="true"
  data-kt-app-sidebar-secondary-enabled="true"
  class="app-default"
>
{{{body}}}
</body>
<!--end::Body-->
</html>
