<!--begin::Sidebar-->
<div id="kt_app_sidebar" class="app-sidebar "
     data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}"
     data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="start"
     data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle"
>
  <!--begin::Sidebar primary-->
  <div class="app-sidebar-primary "
  >
  </div>
  <!--end::Sidebar primary-->
  <!--begin::Sidebar secondary-->
  <div class="app-sidebar-secondary "
  >
    <!--begin::Sidebar menu-->
    <div
      id="kt_app_sidebar_secondary_wrapper"
      class="hover-scroll-y"
      data-kt-scroll="true"
      data-kt-scroll-activate="{default: true, lg: true}"
      data-kt-scroll-height="auto"
      data-kt-scroll-dependecies="#kt_app_header"
      data-kt-scroll-wrappers="#kt_app_content"
      data-kt-scroll-offset="5px"
    >
      <!--begin::Tab content-->
      <!--end::Tab content-->
    </div>
    <!--end::Sidebar menu-->
  </div>
  <!--end::Sidebar secondary-->
</div>
<!--end::Sidebar-->
