<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{title}}">
    <meta name="csrf-token" content="{{_csrfToken}}"/>
    <title>{{title}}</title>
</head>
<body>
{{{body}}}
</body>
</html>
