<html lang="ko">
  <head>
    <meta name="csrf-token" content="{{_csrfToken}}" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>