<!--begin::Chart widget 25-->
<div class="card card-flush h-md-100">
  <!--begin::Header-->
  <div class="card-header pt-7">
    <!--begin::Title-->
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bold text-dark">Warephase stats</span>
      <span class="text-gray-400 pt-2 fw-semibold fs-6">8k social visitors</span>
    </h3>
    <!--end::Title-->
    <!--begin::Toolbar-->
    <div class="card-toolbar">
      <!--begin::Nav-->
      <ul class="nav" id="kt_chart_widget_19_tabs">
        <li class="nav-item">
          <a
            class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light fw-bold px-4 me-1"
            data-bs-toggle="tab"
            id="kt_chart_widget_25_tab_1"
            href="#kt_chart_widget_25_tab_content_1"
          >2023</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light active fw-bold px-4"
            data-bs-toggle="tab"
            id="kt_chart_widget_25_tab_2"
            href="#kt_chart_widget_25_tab_content_2"
          >Month</a>
        </li>
      </ul>
    </div>
    <!--end::Toolbar-->
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-0">
    <!--begin::Tab Content (ishlamayabdi)-->
    <div class="tab-content">
      <!--begin::Tap pane-->
      <div class="tab-pane fade" id="kt_chart_widget_25_tab_content_1">
        <!--begin::Chart-->
        <div id="kt_charts_widget_25_chart_1" class="w-100 h-400px"></div>
        <!--end::Chart-->
      </div>
      <!--end::Tap pane-->
      <!--begin::Tap pane-->
      <div
        class="tab-pane fade active show"
        id="kt_chart_widget_25_tab_content_2"
      >
        <!--begin::Chart-->
        <div id="kt_charts_widget_25_chart_2" class="w-100 h-400px"></div>
        <!--end::Chart-->
      </div>
      <!--end::Tap pane-->
    </div>
    <!--end::Tab Content-->
  </div>
  <!--end::Body-->
</div>
<!--end::Chart widget 25-->