<!--begin::Sidebar navbar-->
<div
  class="app-sidebar-nav flex-grow-1 hover-scroll-overlay-y px-5 pt-2"
  id="kt_app_sidebar_primary_nav"
  data-kt-scroll="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_header, #kt_app_sidebar_primary_header, #kt_app_sidebar_primary_footer"
  data-kt-scroll-wrappers="#kt_app_content, #kt_app_sidebar_primary_nav"
  data-kt-scroll-offset="5px"
>
  <!--begin::Nav-->
  <ul class="nav">
    <!--begin::Navbar item-->
    <li class="nav-item py-1">
      <!--begin::Navbar link-->
      <a
        data-bs-toggle="tab"
        href="#kt_app_sidebar_secondary_collections"
        class="nav-link py-4 px-1 btn active"
      >
        <i class="fonticon-stats fs-1"></i>
        <span class="pt-2 fs-9 fs-lg-7 fw-bold">
          Collections
        </span>
      </a>
      <!--end::Navbar link-->
    </li>
    <!--end::Navbar item-->
    <!--begin::Navbar item-->
    <li class="nav-item py-1">
      <!--begin::Navbar link-->
      <a
        data-bs-toggle="tab"
        href="#kt_app_sidebar_secondary_apis"
        class="nav-link py-4 px-1 btn"
      >
        <i class="fonticon-layers fs-1"></i>
        <span class="pt-2 fs-9 fs-lg-7 fw-bold">
          APIs
        </span>
      </a>
      <!--end::Navbar link-->
    </li>
    <!--end::Navbar item-->
    <!--begin::Navbar item-->
    <li class="nav-item py-1">
      <!--begin::Navbar link-->
      <a
        data-bs-toggle="tab"
        href="#kt_app_sidebar_secondary_environment"
        class="nav-link py-4 px-1 btn"
      >
        <i class="fonticon-notification fs-1"></i>
        <span class="pt-2 fs-9 fs-lg-7 fw-bold">
          Environment
        </span>
      </a>
      <!--end::Navbar link-->
    </li>
    <!--end::Navbar item-->
    <!--begin::Navbar item-->
    <li class="nav-item py-1">
      <!--begin::Navbar link-->
      <a
        data-bs-toggle="tab"
        href="#kt_app_sidebar_secondary_servers"
        class="nav-link py-4 px-1 btn"
      >
        <i class="fonticon-cms fs-1"></i>
        <span class="pt-2 fs-9 fs-lg-7 fw-bold">
          Servers
        </span>
      </a>
      <!--end::Navbar link-->
    </li>
    <!--end::Navbar item-->
    <!--begin::Navbar item-->
    <li class="nav-item py-1">
      <!--begin::Navbar link-->
      <a
        data-bs-toggle="tab"
        href="#kt_app_sidebar_secondary_notifications"
        class="nav-link py-4 px-1 btn"
      >
        <i class="fonticon-alarm fs-1"></i>
        <span class="pt-2 fs-9 fs-lg-7 fw-bold">
          Notifications
        </span>
      </a>
      <!--end::Navbar link-->
    </li>
    <!--end::Navbar item-->
    <!--begin::Navbar item-->
    <li class="nav-item py-1">
      <!--begin::Navbar link-->
      <a
        data-bs-toggle="tab"
        href="#kt_app_sidebar_secondary_history"
        class="nav-link py-4 px-1 btn"
      >
        <i class="fonticon-line-chart fs-1"></i>
        <span class="pt-2 fs-9 fs-lg-7 fw-bold">
          History
        </span>
      </a>
      <!--end::Navbar link-->
    </li>
    <!--end::Navbar item-->
  </ul>
  <!--end::Nav-->
</div>
<!--end::Sidebar navbar-->