<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
  <!--begin::Search-->
  <!--end::Search-->
  <!--begin::Activities-->
  <div class="app-navbar-item ms-3 ms-md-6">
    <!--begin::Drawer toggle-->
    <!--end::Drawer toggle-->
  </div>
  <!--end::Activities-->
  <!--begin::Notifications-->
  <div class="app-navbar-item ms-3 ms-md-6">
    <!--begin::Menu- wrapper-->
    <!--end::Menu wrapper-->
  </div>
  <!--end::Notifications-->
  <!--begin::My apps links-->
  <!--end::My apps links-->
  <!--begin::User menu-->
  <!--end::User menu-->
  <!--begin::Header menu toggle-->
  <!--end::Header menu toggle-->
</div>
<!--end::Navbar-->
