<!--begin::Collections-->
<div class="card card-reset card-p-0">
  <!--begin::Header-->
  <div class="card-header mb-2">
    <!--begin::Actions-->
    <div class="text-end w-100">
      <a
        href="#"
        class="btn btn-sm btn-secondary fw-bold me-2"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_new_target"
      >
        New
      </a>
      <a
        href="#"
        class="btn btn-sm btn-secondary fw-bold"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_select_users"
      >
        Import
      </a>
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body text-center">
    <!--begin::Illustration-->
    <img src="assets/media/misc/watch.svg" class="h-150px" alt=""/>
    <!--end::Illustration-->
    <!--begin::Title-->
    <h4 class="fw-bold text-gray-900 my-4">Upload your CSV file</h4>
    <!--end::Title-->
    <!--begin::Desctiption-->
    <span class="fw-semibold text-gray-700 mb-4 d-block">
      Anyone can connect with audience through blogging benefits
    </span>
    <!--end::Desctiption-->
    <!--begin::Action-->
    <a
      href="#"
      class="btn btn-sm btn-primary fw-semibold"
      data-bs-toggle="modal"
      data-bs-target="#kt_modal_upgrade_plan"
    >
      Start Upload
    </a>
    <!--begin::Action-->
  </div>
  <!--end::Body-->
</div>
<!--end::Collections-->
