<!--begin::Environment-->
<div class="card card-reset card-p-0">
  <!--begin::Header-->
  <div class="card-header">
    <!--begin::Actions-->
    <div class="text-end w-100">
      <a
        href="#"
        class="btn btn-sm btn-secondary fw-bold"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_new_target"
      >
        New
      </a>
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body">
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Symbol-->
      <div class="symbol symbol-40px me-4">
        <div
          class="symbol-label fs-2 fw-semibold bg-danger text-inverse-danger"
        >M
        </div>
      </div>
      <!--end::Symbol-->
      <!--begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <!--begin:Author-->
        <div class="flex-grow-1 me-2">
          <a
            href="?page=pages/user-profile/overview"
            class="text-gray-800 text-hover-primary fs-6 fw-bold"
          >UI/UX Design</a>
          <span class="text-muted fw-semibold d-block fs-7">40+ Courses</span>
        </div>
        <!--end:Author-->
        <!--begin::Actions-->
        <a href="#" class="btn btn-sm btn-icon btn-secondary w-30px h-30px">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon svg-icon-2"><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <rect
                opacity="0.5"
                x="18"
                y="13"
                width="13"
                height="2"
                rx="1"
                transform="rotate(-180 18 13)"
                fill="currentColor"
              />
              <path
                d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                fill="currentColor"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
        <!--begin::Actions-->
      </div>
      <!--end::Section-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Symbol-->
      <div class="symbol symbol-40px me-4">
        <div
          class="symbol-label fs-2 fw-semibold bg-success text-inverse-success"
        >Q
        </div>
      </div>
      <!--end::Symbol-->
      <!--begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <!--begin:Author-->
        <div class="flex-grow-1 me-2">
          <a
            href="?page=pages/user-profile/overview"
            class="text-gray-800 text-hover-primary fs-6 fw-bold"
          >QA Analysis</a>
          <span class="text-muted fw-semibold d-block fs-7">18 Courses</span>
        </div>
        <!--end:Author-->
        <!--begin::Actions-->
        <a href="#" class="btn btn-sm btn-icon btn-secondary w-30px h-30px">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon svg-icon-2"><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <rect
                opacity="0.5"
                x="18"
                y="13"
                width="13"
                height="2"
                rx="1"
                transform="rotate(-180 18 13)"
                fill="currentColor"
              />
              <path
                d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                fill="currentColor"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
        <!--begin::Actions-->
      </div>
      <!--end::Section-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Symbol-->
      <div class="symbol symbol-40px me-4">
        <div
          class="symbol-label fs-2 fw-semibold bg-info text-inverse-info"
        >W
        </div>
      </div>
      <!--end::Symbol-->
      <!--begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <!--begin:Author-->
        <div class="flex-grow-1 me-2">
          <a
            href="?page=pages/user-profile/overview"
            class="text-gray-800 text-hover-primary fs-6 fw-bold"
          >Web Development</a>
          <span class="text-muted fw-semibold d-block fs-7">120+ Courses</span>
        </div>
        <!--end:Author-->
        <!--begin::Actions-->
        <a href="#" class="btn btn-sm btn-icon btn-secondary w-30px h-30px">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon svg-icon-2"><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <rect
                opacity="0.5"
                x="18"
                y="13"
                width="13"
                height="2"
                rx="1"
                transform="rotate(-180 18 13)"
                fill="currentColor"
              />
              <path
                d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                fill="currentColor"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
        <!--begin::Actions-->
      </div>
      <!--end::Section-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Symbol-->
      <div class="symbol symbol-40px me-4">
        <div
          class="symbol-label fs-2 fw-semibold bg-primary text-inverse-primary"
        >M
        </div>
      </div>
      <!--end::Symbol-->
      <!--begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <!--begin:Author-->
        <div class="flex-grow-1 me-2">
          <a
            href="?page=pages/user-profile/overview"
            class="text-gray-800 text-hover-primary fs-6 fw-bold"
          >Marketing</a>
          <span class="text-muted fw-semibold d-block fs-7">50+ Courses.</span>
        </div>
        <!--end:Author-->
        <!--begin::Actions-->
        <a href="#" class="btn btn-sm btn-icon btn-secondary w-30px h-30px">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon svg-icon-2"><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <rect
                opacity="0.5"
                x="18"
                y="13"
                width="13"
                height="2"
                rx="1"
                transform="rotate(-180 18 13)"
                fill="currentColor"
              />
              <path
                d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                fill="currentColor"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
        <!--begin::Actions-->
      </div>
      <!--end::Section-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Symbol-->
      <div class="symbol symbol-40px me-4">
        <div
          class="symbol-label fs-2 fw-semibold bg-warning text-inverse-warning"
        >P
        </div>
      </div>
      <!--end::Symbol-->
      <!--begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <!--begin:Author-->
        <div class="flex-grow-1 me-2">
          <a
            href="?page=pages/user-profile/overview"
            class="text-gray-800 text-hover-primary fs-6 fw-bold"
          >Philosophy</a>
          <span class="text-muted fw-semibold d-block fs-7">24+ Courses</span>
        </div>
        <!--end:Author-->
        <!--begin::Actions-->
        <a href="#" class="btn btn-sm btn-icon btn-secondary w-30px h-30px">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon svg-icon-2"><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <rect
                opacity="0.5"
                x="18"
                y="13"
                width="13"
                height="2"
                rx="1"
                transform="rotate(-180 18 13)"
                fill="currentColor"
              />
              <path
                d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                fill="currentColor"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
        <!--begin::Actions-->
      </div>
      <!--end::Section-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Symbol-->
      <div class="symbol symbol-40px me-4">
        <div
          class="symbol-label fs-2 fw-semibold bg-dark text-inverse-dark"
        >M
        </div>
      </div>
      <!--end::Symbol-->
      <!--begin::Section-->
      <div class="d-flex align-items-center flex-row-fluid flex-wrap">
        <!--begin:Author-->
        <div class="flex-grow-1 me-2">
          <a
            href="?page=pages/user-profile/overview"
            class="text-gray-800 text-hover-primary fs-6 fw-bold"
          >Mathematics</a>
          <span class="text-muted fw-semibold d-block fs-7">24+ Courses</span>
        </div>
        <!--end:Author-->
        <!--begin::Actions-->
        <a href="#" class="btn btn-sm btn-icon btn-secondary w-30px h-30px">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
          <span class="svg-icon svg-icon-2"><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <rect
                opacity="0.5"
                x="18"
                y="13"
                width="13"
                height="2"
                rx="1"
                transform="rotate(-180 18 13)"
                fill="currentColor"
              />
              <path
                d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                fill="currentColor"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </a>
        <!--begin::Actions-->
      </div>
      <!--end::Section-->
    </div>
    <!--end::Item-->
  </div>
  <!--end::Body-->
</div>
<!--end::Environment-->
