<!--begin::Notifications-->
<div class="card card-reset card-p-0">
  <!--begin::Body-->
  <div class="card-body d-flex flex-column flex-center">
    <!--begin::Heading-->
    <div class="mb-2">
      <!--begin::Title-->
      <h1 class="fw-semibold text-gray-800 text-center lh-lg">
        Have you tried new
        <span class="fw-bolder">Notifications</span>
      </h1>
      <!--end::Title-->
      <!--begin::Illustration-->
      <div class="py-10 text-center">
        <img
          src="assets/media/svg/illustrations/easy/1.svg"
          class="theme-light-show w-200px"
          alt=""
        />
        <img
          src="assets/media/svg/illustrations/easy/1-dark.svg"
          class="theme-dark-show w-200"
          alt=""
        />
      </div>
      <!--end::Illustration-->
    </div>
    <!--end::Heading-->
    <!--begin::Links-->
    <div class="text-center mb-1">
      <!--begin::Link-->
      <a
        class="btn btn-sm btn-primary me-2"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_select_users"
      >
        Learn more
      </a>
      <!--end::Link-->
    </div>
    <!--end::Links-->
  </div>
  <!--end::Body-->
</div>
<!--end::Notifications-->