<!--begin::Servers-->
<div class="card card-reset card-p-0">
  <!--begin::Header-->
  <div class="card-header">
    <!--begin::Actions-->
    <div class="text-end w-100">
      <a
        href="#"
        class="btn btn-sm btn-primary fw-bold"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_new_address"
      >
        New
      </a>
    </div>
    <!--end::Actions-->
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-0">
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-center me-3">
        <!--begin::Icon-->
        <img
          src="assets/media/stock/ecommerce/14.gif"
          class="me-4 w-50px ms-n3"
          alt=""
        />
        <!--end::Icon-->
        <!--begin::Section-->
        <div class="flex-grow-1">
          <a
            href="?page=apps/ecommerce/sales/details"
            class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0"
          >Fjallraven</a>
          <span class="text-gray-400 fw-semibold d-block fs-7">#XDG-6437</span>
        </div>
        <!--end::Section-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Value-->
      <span class="text-gray-800 fw-bold fs-6">
        $ 72.00
      </span>
      <!--end::Value-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-center me-3">
        <!--begin::Icon-->
        <img
          src="assets/media/stock/ecommerce/13.gif"
          class="me-4 w-50px ms-n3"
          alt=""
        />
        <!--end::Icon-->
        <!--begin::Section-->
        <div class="flex-grow-1">
          <a
            href="?page=apps/ecommerce/sales/details"
            class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0"
          >Nike</a>
          <span class="text-gray-400 fw-semibold d-block fs-7">#XDG-1836</span>
        </div>
        <!--end::Section-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Value-->
      <span class="text-gray-800 fw-bold fs-6">
        $ 45.00
      </span>
      <!--end::Value-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-center me-3">
        <!--begin::Icon-->
        <img
          src="assets/media/stock/ecommerce/41.gif"
          class="me-4 w-50px ms-n3"
          alt=""
        />
        <!--end::Icon-->
        <!--begin::Section-->
        <div class="flex-grow-1">
          <a
            href="?page=apps/ecommerce/sales/details"
            class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0"
          >Bose QC 35</a>
          <span class="text-gray-400 fw-semibold d-block fs-7">#XDG-6254</span>
        </div>
        <!--end::Section-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Value-->
      <span class="text-gray-800 fw-bold fs-6">
        $ 168.00
      </span>
      <!--end::Value-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-center me-3">
        <!--begin::Icon-->
        <img
          src="assets/media/stock/ecommerce/53.gif"
          class="me-4 w-50px ms-n3"
          alt=""
        />
        <!--end::Icon-->
        <!--begin::Section-->
        <div class="flex-grow-1">
          <a
            href="?page=apps/ecommerce/sales/details"
            class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0"
          >Greeny</a>
          <span class="text-gray-400 fw-semibold d-block fs-7">#XDG-1746</span>
        </div>
        <!--end::Section-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Value-->
      <span class="text-gray-800 fw-bold fs-6">
        $ 14.50
      </span>
      <!--end::Value-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-center me-3">
        <!--begin::Icon-->
        <img
          src="assets/media/stock/ecommerce/71.gif"
          class="me-4 w-50px ms-n3"
          alt=""
        />
        <!--end::Icon-->
        <!--begin::Section-->
        <div class="flex-grow-1">
          <a
            href="?page=apps/ecommerce/sales/details"
            class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0"
          >Apple</a>
          <span class="text-gray-400 fw-semibold d-block fs-7">#XDG-6245</span>
        </div>
        <!--end::Section-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Value-->
      <span class="text-gray-800 fw-bold fs-6">
        $ 362.00
      </span>
      <!--end::Value-->
    </div>
    <!--end::Item-->
    <!--begin::Separator-->
    <div class="separator separator-dashed my-4"></div>
    <!--end::Separator-->
    <!--begin::Item-->
    <div class="d-flex flex-stack">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-center me-3">
        <!--begin::Icon-->
        <img
          src="assets/media/stock/ecommerce/194.gif"
          class="me-4 w-50px ms-n3"
          alt=""
        />
        <!--end::Icon-->
        <!--begin::Section-->
        <div class="flex-grow-1">
          <a
            href="?page=apps/ecommerce/sales/details"
            class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0"
          >Friendly Robot</a>
          <span class="text-gray-400 fw-semibold d-block fs-7">Item: #XDG-2347</span>
        </div>
        <!--end::Section-->
      </div>
      <!--end::Wrapper-->
      <!--begin::Value-->
      <span class="text-gray-800 fw-bold fs-6">
        $ 48.00
      </span>
      <!--end::Value-->
    </div>
    <!--end::Item-->
  </div>
  <!--end::Body-->
</div>
<!--end::Servers-->